header {

    .header__box {
        display: flex;
        flex-direction: column;
        margin: 25px auto;
    }

    img {
        align-items: center;
        border-radius: 50%;
        width: 200px;
        height: auto;
        position: relative;
        align-content: center;
    }
    h1{
        max-width: 100%;
        padding-left: 20px;
    }
    p {
        max-width: 480px;
        padding: 0 auto;

        text-align: justify;
    }
}