main {

    section {
        background-color: $dark;
        display: flex;
        flex-direction: column;
        align-items: center;


        @media (min-width: 600px) {
            width: 400px;
            height: 700px;
            margin: 10px;
            overflow: hidden;
        }

        .divImg {
            @media (min-width: 600px) {
                height: 40%;

            }

            &__image {
                width: 100%;

                @media (min-width: 600px) {
                    height: 100%;
                    width: auto;

                }
            }
        }

        article {
            max-width: 80%;


            .genre {
                display: flex;
                flex-wrap: wrap;
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;

                font-family: $roboto_thin;
                font-size: 13px;
                color: $light;
                opacity: 0.5;
                margin: 20px 0 5px 10px;

                @media (min-width: 600px) {
                    font-size: 12px;
                }

                p {
                    margin-bottom: 10px;
                    padding: 6px;
                    border: 2px $yellow solid;
                }
            }

            h2 {
                font-family: $oswald;
                font-size: 24px;
                color: $yellow;

                @media (min-width: 600px) {
                    font-size: 32px;
                }
            }

            .directorEditor {
                padding: 7px 0 0 0;

                font-family: $roboto_regular;
                font-size: 13px;
                color: $light;
                opacity: 0.5;

                @media (min-width: 600px) {
                    font-size: 16px;
                }
            }

            .directorEditor:nth-child(4) {
                padding: 0 0 20px 0;
            }

            .description {
                font-family: $roboto_thin;
                font-size: 16px;
                text-align: justify;
                color: $light;

                @media (min-width: 600px) {
                    font-size: 20px;
                }
            }
        }

        footer {
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            margin-bottom: 10px;

            .link {
                width: 10%;

                -webkit-filter: grayscale(100%);
                filter: grayscale(100%);

                &__youtube {
                    width: 100%;
                }
            }

            .link:hover {
                -webkit-filter: grayscale(0);
                filter: grayscale(0);
            }
        }
    }
}