@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&family=Roboto:wght@100;400&display=swap');
$oswald: 'oswald';
$roboto_regular: 'roboto 400';
$roboto_thin: 'roboto 100';
$light: #F7F0F5;
$dark: #403F4C;
$yellow: #E1AD01;